body { 
  margin: 20px 50px;
  line-height: 2em;
}
/* h1 { 
  font-size: 1.5em;
  
} */
p { 
  margin: 0;
  font: 1em;  
}
.checker{
  line-height: 2.8;
}
.checker label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 3em;
  
  
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  /* // box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4); */
}
.checker label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checker label:hover::after {
  opacity: 0.3;
}
.checker input[type=checkbox] {
  visibility: hidden;
}
.checker input[type=checkbox]:checked + label:after {
  opacity: 1;
}

percentPacked
.ready { font-size: 1.5em; }
.ui-progressbar-value { background: #bada55; }
.progressbar-container {
  position: relative;
  width: 350px; 
}

.progressbar-bar { 
  height: 25px;
margin: 10px 0;
border-radius: 7px;
}

.percentPacked {
  position: absolute;
  top: 2px;
  left: 45%;
  z-index: 2;
}


