{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<link rel="stylesheet" href="/static/css/home.css">
<div class="card2">  
  <div class="container2">
  <div class="card">
    <div class="content">
      <h3 style="color:green;"><b>Welcome to <i>P-Mon</i></b></h3>
      <p>Welcome to P-Mon, a Progress-Monitoring website you was always looking for!<br> At P-Mon, you can track your learning progress, take down the notes whenever required and can also watch the videos of recorded sessions conducted by seniors at 314e.<br> <p style="color:yellow;" > HAPPY LEARNING!!</p>  </p>
    </div>
  </div>
  </div>
</div>
<div class="part4">
<div class="part3">
  <h1 >To visit 314e wiki page, click below.</h1>
    <h4> <a href="https://wiki.314ecorp.com/en/new-employee-orientation/software-engineer-non-cs" >Non-CS Students</a></h4>
    <h4><a href="https://wiki.314ecorp.com/en/new-employee-orientation/software-engineer-cs" >CS-Students</a></h4>
</div>
</div>
<div class="card1">  
  <div class="container1">
  <div class="card">
    <div class="content">
      <h2>01</h2>
      <h3>Announcements</h3>
      <p>
           1. The physical joining of Freshers at the Banglore office is scheduled for 2<sup>nd</sup> of August 2021.
          <br>
          <br>
           2. The full joining for Non-CS Freshers is scheduled to take place on 1<sup>st</sup> of July 2021.
      </p>

    </div>
  </div>
</div>
<div class="container1">
  <div class="card">
    <div class="content">
      <h2>02</h2>
      <h3>Meeting Links</h3>
      <p style="padding: 10px;">You can join the standup-meeting and the catch-up meeting by clicking on the following links -
        <br>
        <a href="https://us02web.zoom.us/j/8197811809?pwd=ckpYSDdwUkRrUG5BTmdHcTQxRXZCQT09">Standup-Meeting Link</a>
        <br>
        <br>
        <a href="https://us02web.zoom.us/j/8197811809?pwd=ckpYSDdwUkRrUG5BTmdHcTQxRXZCQT09">Catch-up Meeting Link</a>
      </p>
    </div>
  </div>
</div>
<div class="container1">
  <div class="card">
    <div class="content">
      <h2>03</h2>
      <h3>About 314e</h3>
      <p>314e provides technology solutions to Healthcare organizations. 314e offers customers a portfolio of solutions and services that include: EHR implementation and optimization, Revenue Cycle optimization, Digital Transformation, Cloud Adoption, App development and Data Integration and Analytics.</p>
    </div>
  </div>
</div>
</div>
<div class="center1">
<div class="part2">
   <img src="../static/image.jpg" class="w3-round w3-image w3-opacity-min" width="350" height="300">
    <span style="color:white;">
      <div class="card2">  
      <div class="container2">
      <div class="card">
        <div class="content">
          <h3 style="color:green;"><b>About Us</b></h3>
          <p> We are a team of four people working in 314e corporation. Since childhood, we dreamt big. After joining 314e corp, we knew that this is our opportunity to shine and bring our dream into reality. We thought of doing something impactful for 314e family, especially, the freshers and hence we came up with P-Mon. As, someone has rightly said,<br> <p style="color:yellow;" > You have to think anyway, so why not think big? </p></p>
        </div>
      </div>
      </div>
    </div></span>
</div>
</div>

  <script type="text/javascript" src="../static/vanilla-tilt.js"></script>
  <script>
      VanillaTilt.init(document.querySelectorAll(".card"), {
      max: 25,
      speed: 400,
          glare:true,
          "max-glare":1,
    });
  </script>
  {% endblock %}